body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  
  background-color: #000000;
  background-image: url("../img/bg-main.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.main-header-logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.main-navigation-container {
    background-color: #000000;
    
    width: 100%;
    margin-bottom: 60px;
}

.main-navigation-container .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.site-navigation,
.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
  list-style: none;
    
    margin: 0;
    padding: 0;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features {
    margin-bottom: 80px;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
  list-style: none;
    
    margin: 0;
    padding: 0;
}

.feature-item {
    width: 300px;
    
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
  color: #f7f4f1;
}

.index-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
  color: #000000;

    padding: 50px 80px;
    margin-bottom: 35px;
  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.news,
.contacts {
    width: 380px;
}

.gallery,
.appointment {
    width: 300px;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.main-footer {
  color: #ffffff;
    background-color: #212121;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
    
    margin-top: 65px;
}

.inner-page .main-footer {
    margin-top: 50px;
}

.main-footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-contacts {
    width: 320px;
    margin: 0;
    margin-right: 80px;
}

.footer-social {
    width: 145px;
    
    text-align: center;
}

.footer-social ul {
  list-style: none;
    
    margin: 0;
    padding: 0;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
    text-align: center;
    
    width: 140px;
    margin-left: auto;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

/* CATALOG */

.inner-page .main-header {
    background-color: #000000;
    margin-bottom: 55px;
}

.inner-page .main-navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.inner-page .main-header-logo {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}

.inner-page .user-navigation {
    margin-left: auto;
}

.page-title {
    margin: 0;
    margin-bottom: 18px;
    
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    
    padding: 0;
    margin: 0;
    margin-bottom: 55px;
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: #aba9a7;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filters {
    width: 220px;
}

.filter-form fieldset {
    border: none;
}

.filter-form legend {
    font-size: 24px;
    line-height: 30px;
}

.filter-form ul {
    list-style: none;
    line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #663d15;
}

.filter-input:disabled + label {
    color: #000000;
    
    opacity: 0.5;
}

.filter-button {
    font-size: 13px;
    line-height: 18px;
}

.catalog {
    width: 700px;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    
    list-style: none;
    
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.catalog-item {
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
}

.catalog-item a {
    color: #000000;
}
.catalog-category {
    text-transform: none;
}

.catalog-item-price {
    font-size: 14px;
    line-height: 18px;
}

.catalog-item-price a {
    color: #ffffff;
}

.catalog-item-price b {
    background-color: #e5e5e5;
    text-align: center;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.pagination-item a {
    color: #ffffff;
    background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a {
    color: #000000;
    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000000;
    background-color: #ffffff;
}

/* CATALOG ITEM */

.product-photos {
    width: 460px;
}

.product-photo-full {
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    
    margin: 0;
    margin-bottom: 20px;
}

.product-photo-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.product-photo-small {
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    
    width: 140px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.product-photo-small:nth-child(3n) {
    margin-right: 0;
}

.product-info {
    width: 390px;
}

.product-cod {
    text-align: right;
    color: #aeaeae;
}

.product-price b {
    line-height: 20px;
    text-align: center;
    background-color: #e5e5e5;
}

.product-info h3 {
    font-size: 24px;
    line-height: 30px;
}

.compressed-list {
    list-style: none;
}

/* PRICE */

.lead {
    font-size: 48px;
    line-height: 48px;
    
    margin: 0;
    margin-bottom: 75px;
}

.prices-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    margin-bottom: 65px;
}

.facilities {
    width: 300px;
}

.service-prices {
    width: 460px;
}

.facilities h2,
.service-prices h2,
.about-us h2 {
    font-size: 24px;
    line-height: 30px;
    
    margin: 0;
    margin-bottom: 37px;
}

.uncompressed-list {
    list-style: none;
    line-height: 27px;
    
    margin: 0;
    padding: 0;
}

.service-prices table {
    border-collapse: collapse;
}

.service-prices td {
    border: 2px solid #000000;
}

.about-us-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about-us-columns p {
    width: 385px;
    margin: 0;
    margin-right: 95px;
}

.about-us-columns p:nth-child(2n) {
    margin-right: 0px;
}



























